<div *ngIf="!productoTalla; else divProducto">
    Por favor espere...
</div>

<ng-template #divProducto>
    <div class="container">
        <div class="content-section">
            <div class="card">
                <h1>imagen <small>{{productoTalla.stock}}</small></h1>
                <h2>Categoria: <small>{{productoTalla.producto.genero.descripcion}}</small></h2>
                <h1>producto: <small>{{productoTalla.producto.descripcion}}</small></h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipi. Error </p>
                <h2>color: <small>{{productoTalla.producto.color}}</small></h2>
                <h3>precio: <small>{{productoTalla.producto.precio| number}}</small></h3>
                <h4>marca: <small>{{productoTalla.producto.marca.descripcion}}</small></h4>
                <!-- <h4>cantidad disponible: <small>{{tallaSeleccionada.stock}}</small></h4> -->
                <div>
                    <label for="talla">Talla: </label>
                    <select name="" id="talla" [(ngModel)]="tallaSeleccionada" (change)="actualizarTalla()">
                        <option *ngFor="let talla of tallas" [ngValue]="talla">{{talla.descripcion}}</option>
                    </select>
                </div>
                <button>comprar</button>
            </div>
        </div>
    </div>

</ng-template>