<div>
    <div class="header">
        <header>
            <h1>Únete hoy mismo y descubre la amplia selección de prendas que <span class="titulo">ConverTic-Shop</span>
                ofrece a sus clientes.
                Regístrate <span class="titulo">gratis.</span>
            </h1>
        </header>
    </div>
    <div class="body">
        <div class="container">
            <h2>Formulario de registro</h2>
            <form (ngSubmit)="registro()" autocomplete="off" [formGroup]="miFormularioRegistro">
                <div class="medio-formulario">
                    <div class="item">
                        <label for="nombre">Nombres</label>
                        <input type="text" name="nombre" id="nombre" formControlName="nombre"
                            placeholder="Ingrese nombres">
                        <span *ngIf="campoRegistroEsValido('nombre','required')">
                            Campo nombres es obligatorio
                        </span>
                    </div>

                    <div class="item">
                        <label for="tipoDocumento">Tipo documento</label>
                        <select formControlName="tipoDocumento" name="tipoDocumento">
                            <option *ngFor="let tipoDocumento of documentos" [ngValue]="tipoDocumento">
                                {{tipoDocumento.descripcion}}
                            </option>
                        </select>
                    </div>

                    <div class="item">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" name="contrasena" id="contrasena" formControlName="contrasena"
                            placeholder="Ingrese contraseña ">
                        <span *ngIf="campoRegistroEsValido('contrasena','required')">
                            campo contraseña es obligatorio
                        </span>
                        <span *ngIf="campoRegistroEsValido('contrasena','pattern')">
                            debes ingresar mayusculas, minusculas y letras
                        </span>
                    </div>
                    <div class="item">
                        <label for="confirmacionContrasena">Confirmación contraseña</label>
                        <input type="password" name="confirmacionContrasena" id="confirmacionContrasena"
                            formControlName="confirmacionContrasena" placeholder="Ingrese contraseña">
                        <span *ngIf="campoRegistroEsValido('confirmacionContrasena','required')">
                            confirmacion obligatoria
                        </span>
                        <span *ngIf="campoRegistroEsValido('confirmacionContrasena','noCoincideContrasena')">
                            contraseñas deben ser iguales
                        </span>

                    </div>
                </div>
                <div class="medio-formulario">
                    <div class="item">
                        <label for="apellido">Apellidos</label>
                        <input type="text" name="apellido" id="apellido" formControlName="apellido"
                            placeholder="Ingrese apellidos">
                        <span *ngIf="campoRegistroEsValido('apellido','required')">
                            campo apellidos es obligatorio
                        </span>

                    </div>

                    <div class="item">
                        <label for="documento">Número de documento</label>
                        <input type="text" name="documento" id="documento" formControlName="documento"
                            placeholder="Ingrese número de doc">
                        <span *ngIf="campoRegistroEsValido('documento','required')">
                            campo documento es obligatorio
                        </span>
                        <span *ngIf="campoRegistroEsValido('documento','pattern')">
                            debes ingresar solo numeros
                        </span>
                    </div>


                    <div class="item">
                        <label for="correo">Correo electrónico</label>
                        <input type="text" name="correo" id="correo" formControlName="correo"
                            placeholder="Ingrese correo electrónico">
                        <span *ngIf="campoRegistroEsValido('correo','required')">
                            Correo electronico es obligatorio
                        </span>
                        <span *ngIf="campoRegistroEsValido('correo','email')">
                            Correo no valido
                        </span>
                    </div>

                    <div class="item">
                        <label>Enviar</label>
                        <button>Registrar</button>
                    </div>
                </div>
            </form>
            <p>Asegúrate de registrar una contraseña correcta <br>

            </p>
        </div>

        <div><img src="../../../../assets/heather-ford-5gkYsrH_ebY-unsplash-removebg-preview.png" alt=""></div>
    </div>
</div>