<div *ngIf="genero === 'hombre'">
    <h1>Sesión de los productos de <small class="small-hombre">hombre.</small> </h1>
</div>
<div *ngIf="genero === 'mujer'">
    <h1>Sesión de los productos de <small class="small-mujer">mujer.</small> </h1>
</div>


<div class="genero">
    <div class="" *ngFor="let item of productoPorGenero">
        <div class="container-card">
            <div class="card">
                <h2>{{item.nombre}}</h2>
                <figure>
                    <img [src]="'assets/productosHombre/'+item.imagen" alt="{{item.imagen}}">
                </figure>
                <div class="contenido-card">
                    <h4>marca: <small>{{item.marca.descripcion}}</small></h4>
                </div>

                <button [routerLink]="['/verProducto',item.id]" (click)="cerrarHome()"
                    [ngClass]="genero === 'hombre' ? 'boton-hombre' : 'boton-mujer'">Ver producto</button>

            </div>
        </div>
    </div>
</div>