/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

/* .container {
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-section .card {
    flex: 1;
    margin: 20px 50px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

content-section .card img {
    width: 100%;
    height: auto;
}

.content-section .card h1 {
    margin: 15px;
    font-size: 28px;
    color: #1662a1;
    font-family: sans-serif;
}

.content-section .card h2 {
    margin: 15px;
    font-size: 24px;
    color: #1662a1;
    font-family: sans-serif;
}

.content-section .card h3 {
    margin: 15px;
    font-size: 20px;
    color: #1662a1;
    font-family: sans-serif;
}

.content-section .card h4 {
    margin: 15px;
    font-size: 18px;
    color: #1662a1;
    font-family: sans-serif;
}

.content-section .card p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
}



@media screen and (max-width: 768px) {
    .content-section {}
} */


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 80%;
    width: 35%;
}

.genero {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 100px;

}

/*Cards*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    /* background: #fff; */
    background: #F0FFF0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    /* cursor: default; */
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

h1 {
    color: rgb(140, 161, 119);
    font-size: 40px;
    font-style: italic;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card {
        margin: 15px;
    }
}