<h1>Sesión de los productos <small>más buscados.</small> </h1>
<div class="cards">
    <div class="" *ngFor="let item of producto; index as i">
        <div class="container">
            <img [src]="'assets/productosHombre/'+item.imagen" alt="{{item.imagen}}">
            <h4><i class="fa-solid fa-thumbs-up liked"
                    [ngStyle]="{'color': coloresBotones[secuencia[i]]}"></i>{{item.busqueda}}
            </h4>
            <h3>{{item.nombre}}</h3>
            <p>{{item.marca.descripcion}}</p>
            <h6>{{item.precio | number}}</h6>
            <ul class="stars">
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked "></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
            <button class="boton" *ngIf="producto && secuencia.length > i"
                [ngStyle]="{'background-color': coloresBotones[secuencia[i]]}">Ver producto</button>
        </div>
    </div>
</div>