<h1>Carrito de <small>compras</small> </h1>
<div class="container">
    <div class="carrito">
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Valor</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <!-- Lista de productos en el carrito -->
                <tr *ngFor="let item of productoCarrito">
                    <td>
                        <img [src]="'assets/productosHombre/'+item.productoTalla.producto.imagen"
                            alt="{{item.productoTalla.producto.imagen}}">

                    </td>
                    <td>{{ item.productoTalla.producto.descripcion }}</td>
                    <td>{{ item.productoTalla.producto.precio | number }}</td>
                    <td>
                        {{item.cantidad}}
                    </td>
                    <td>{{ (item.productoTalla.producto.precio * item.cantidad) | number }}</td>
                    <td (click)="eliminarProducto(item)">
                        <i class="fa-solid fa-trash-can eliminar-carrito"></i>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="subtotal">
                    <td class="total"><strong>Total:</strong></td>
                    <td class="total">{{ obtenerTotal() | number }}</td>

                </tr>
                <tr class="comprar">
                    <td>
                        <button mat-button (click)="realizarCompra()">realizar compra</button>
                        <!-- <button (click)="realizarCompra()"
                        [disabled]="productoCarrito.length === 0 || !productoCarrito">Realizar Compra</button> -->
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>
</div>