<div>
    <h2>Carrito de compras</h2>
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <!-- Lista de productos en el carrito -->
            <tr *ngFor="let item of productoCarrito">
                <td>
                    <!-- <img [src]="item.productoTalla.producto.imagen" [alt]="item.productoTalla.producto.imagen"
                        width="50" height="50"> -->
                    <h2>{{item.productoTalla.producto.imagen}}</h2>
                </td>
                <td>{{ item.productoTalla.producto.descripcion }}</td>
                <td>{{ item.productoTalla.producto.precio }}</td>
                <td>
                    <input type="number" min="1" [(ngModel)]="item.cantidad" (change)="actualizarProducto(item)">
                </td>
                <td>{{ item.productoTalla.producto.precio * item.cantidad }}</td>
                <td>
                    <button (click)="eliminarProducto(item)">Eliminar</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><strong>Total</strong></td>
                <td>{{ obtenerTotal() }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="6">
                    <!-- <button (click)="realizarCompra()"
                        [disabled]="productoCarrito.length === 0 || !productoCarrito">Realizar Compra</button> -->
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<button mat-button (click)="realizarCompra()">realizar compra</button>