<div>
    <header>
        <section (click)="imagen()" routerLink="/productoBuscado"><img class="img"
                src="../../../assets/logoConvertic.jpg" alt="">
        </section>
        <section>
            <form>
                <select name="tipodocumento" [(ngModel)]="seleccionGenero" (click)="obtenerGenero()">
                    <option *ngFor="let opcion of opciones" [value]="opcion.value">
                        {{ opcion.genero }}
                    </option>
                </select>
            </form>
        </section>
        <section class="opciones-header" (click)="home()">Home</section>
        <section class="opciones-header">
            <div class="carrito" routerLink="/carritoCompras" (click)="carrito()">
                <img src="../../../../assets/cart-add-solid-24.png" alt="" width="50px" height="50px">
                <p>carrito compras</p>
            </div>
        </section>

        <section class="input">
            <app-barra-busqueda #miHijo (onEnter)="buscarProducto($event)" (onDebunce)="sugerencias($event)"
                (resetInput)="resetInputBusqueda()"></app-barra-busqueda>
            <div class="posicion-relativa">

                <div *ngIf="abrirBusqueda" class="lista-desplegable">
                    <ul>
                        <li *ngFor="let item of productosSugerido"><a [routerLink]="['/verProducto',item.id]"
                                (click)="clickBarra()">{{item.descripcion}} |
                                {{item.color.descripcion}} |
                                {{item.marca.descripcion}}</a>

                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <section class="opciones-cerrar-sesion">
            <ng-container *ngIf="estaAutenticado else NoAutenticado">
                <div class="cerrar-sesion">
                    <p class="usuario-actual"> {{usuarioActual}}</p>
                    <div class="cerrar-boton" (click)="onCerrarSesion()">
                        <img src="../../../../assets/chevron-down-square-solid-24.png" alt="" height="30px"
                            width="50px">
                        <p>Cerrar sesion</p>
                    </div>
                </div>
            </ng-container>
            <ng-template #NoAutenticado>
                <button (click)="onIniciarSesion()">Iniciar sesión</button>
            </ng-template>
        </section>
    </header>
</div>

<!-- <div *ngIf="productosSugerido.length > 0">
    <app-producto-buscado [productoSeleccionado]="productosSugerido"></app-producto-buscado>
</div> -->
<div *ngIf="cardGenero">
    <app-producto-buscado [productoPorGenero]="productos"></app-producto-buscado>
</div>


<div *ngIf="cardGenero">
    <h1>Estamos en el componente</h1>
    <h1>Estamos en el componente</h1>
    <h1>Estamos en el componente</h1>
    <h1>Estamos en el componente</h1>
    <h1>Estamos en el componente</h1>
</div>