* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

header {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% auto 10% 10%;
    background: #F0FFF0;
    align-items: center;
    justify-items: center;
}

header section .img {
    margin-top: 4px;
    width: 60px;
    border-color: black;
    border-radius: 50%;
    animation: rotate 360s linear infinite;
    animation-duration: 160s;
    cursor: pointer;
}

header section .opciones-cerrar-sesion {
    width: 90%;
}

header .cerrar-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

header section p {
    font-size: 14px;
}

header .cerrar-boton:hover {
    background-color: #c8d6e5;
}

.usuario-actual {
    margin-top: 3px;
    font-size: 17px;
    font-weight: bold;
}

.posicion-relativa {
    position: relative;
}

.lista-desplegable {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header section form select {
    width: 90px;
    height: 60%;
    padding: 5px;
    border-radius: 5px;
    border-color: #2F4F4F;
    background-color: #FFFFFF;
    cursor: pointer;
    color: #2F4F4F;
    font-size: 14px;
}

header section form select:focus {
    background-color: #00FF7F;
    color: #333;
    border: 1px solid #ccc;
}

header section form select:hover {
    background-color: #F5F5F5;
}

header section form select option:checked {
    background-color: #2F4F4F;

}


.opciones-header {
    color: #2c3e50;
    font-size: 1.3rem;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    cursor: pointer;
}

.opciones-header:hover {
    transition: 0.2s;
    border: 1px solid white;
}

.input {
    display: flex;
    flex-direction: column;
}

.example-form {
    min-width: 20;
    max-width: 250px;
    width: 95%;
    height: 55px;
    border-radius: 5px;
    font-size: 13px;
}

.example-full-width {
    width: 90%;
    font-size: 12px;
}

.input-busqueda {
    color: yellow;
}

.carrito,
.cerrar {
    font-size: 22px;
}