<div>
    <header>
        <section><img src="../../../assets/logoConvertic.jpg" alt=""></section>
        <section>
            <form>
                <select name="tipodocumento" [(ngModel)]="seleccionGenero" (click)="obtenerGenero()">
                    <option *ngFor="let opcion of opciones" [value]="opcion.value">
                        {{ opcion.genero }}
                    </option>
                </select>
            </form>

        </section>
        <section class="opciones-header">Home</section>
        <section class="opciones-header">Patrocinadores</section>
        <section class="input">

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Buscar Productos</mat-label>
                <input class="input-busqueda" type="text" placeholder="Ingrese un producto" aria-label="Number" matInput
                    [(ngModel)]="termino" [matAutocomplete]="auto" (input)="buscar()">
                <mat-autocomplete autoActiveFirstOption="" #auto="matAutocomplete"
                    (optionSelected)="opcionSeleccionada($event)">
                    <mat-option *ngFor="let option of itemProductos" [value]="option">
                        {{ option.descripcion }}
                        {{ option.marca.descripcion}}
                        {{ option.color }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> -->

        </section>
    </header>
</div>