<div>
    <header>
        <section><img src="../../../assets/logoConvertic.jpg" alt=""></section>
        <section>
            <form>
                <select name="tipodocumento" [(ngModel)]="seleccionGenero" (click)="obtenerGenero()">
                    <option *ngFor="let opcion of opciones" [value]="opcion.value">
                        {{ opcion.genero }}
                    </option>
                </select>
            </form>

        </section>
        <section class="opciones-header">Home</section>
        <section class="opciones-header">Patrocinadores</section>
        <section class="input">
            <app-barra-busqueda (onEnter)="buscarProducto($event)" (onDebunce)="sugerencias($event)"
                placeholder="buscar pais"></app-barra-busqueda>

        </section>
    </header>
</div>
<div>

    <ul>
        <li *ngFor="let item of productosSugerido"><a [routerLink]="['/verProducto',item.id]">{{item.descripcion}} |
                {{item.color}} |
                {{item.marca.descripcion}}</a>
        </li>

        <li>h1 estoy aqui</li>
    </ul>
</div>
<div *ngIf="productosSugerido.length > 0">
    <app-producto-buscado [productoSeleccionado]="productosSugerido"></app-producto-buscado>
</div>